
.domain-name, input[type="text"], input[type="email"],
input[type="password"], input[type="number"], select, .credit-card-label{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
  width: 540px;
  background-color: #ABCCD5;
  overflow:auto;
  margin: auto;
}
.form-container{
  width: 500px;
  margin:20px;
  background-color: white;
}
header{
  width: 460px;
  margin: auto;
  margin-bottom: 50px; /*making up for legend being out of the container */
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ABCCD5;
}
h1{
  font-family: "Open Sans", sans-serif;
  font-weight:600;
  font-size:36px;
  color: #4C8DD0;
  margin-bottom: 0px;
  margin-left: 10px;
}
.heading-text, label, .domain-name{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646E72;
}
.heading-text{
  margin-top: 0px;
  margin-left: 10px;
}
.subtitle-container{
  position: relative;
  margin: 0px;
  margin-bottom: 5px; /* +15 from changing posiion*/
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #4C8DD0;
  left: -53px;
  top: -15px;
}
.subtitle-number-container{
  position:relative;
  left: -15px;
  top: -5px;
  display: inline-block;
  background-color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #4C8DD0;
  height:30px;
  width:30px;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.subtitle-number{
  vertical-align: middle;
}
fieldset{
  width: 400px;
  padding: 20px;
  padding-top: 0px;
  margin: auto;
  margin-bottom: 25px;
  padding-bottom: 30px;
  margin-top: 40px;//to compensate for legend sticking out
  border-radius: 3px;
  background-color: #F2F3F4;
  border: none;
}
input[type="text"], input[type="email"],
input[type="password"], input[type="number"], select{
  height: 40px;
  width: 400px;
  border-radius: 3px;
  border:1px solid #4C8DD0;
  background-color: #FFFFFF;
  box-shadow: inset rgba(100, 110, 114, 0.33) 0 2px 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646E72;
  padding-left: 10px;
}
#website-input{
  width: 240px;
  border:1px solid #4C8DD0;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  vertical-align: top;
}
.website-input-container{
  height: 40px;
}
.domain-name{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  height: 40px;
  background-color: #E8EAEB;
  border:1px solid #4C8DD0;
  border-left: none;
  box-shadow: inset rgba(100, 110, 114, 0.33) 0 2px 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
#domain-label{
  vertical-align: top;
}
.name-container, .email-container, .credit-card-container{
  margin-bottom: 30px;
}
#reveal-checkbox{
  display: none;
}
#reveal-checkbox + label span{
  margin-top: 10px;
  margin-right: 5px;
  display:inline-block;
  width:19px;
  height:19px;
  background: #4C8DD0;
  cursor: pointer;
  border-radius: 3px;
}
#reveal-checkbox:checked + label img{
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 4px;
}
.checkbox-container{
  position: relative;
}
.checkbox-label{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #646E72;
  padding-top: 4px;
}
#credit-card-input{
  width: 218px;
  margin-right: 6px;
}
input[name="credit-card"]{
  height: 1px;
  width: 1px;
  position: absolute;
  opacity: 0;
}
input[name="credit-card"]:checked + label{
  border: 1px solid #4C8DD0;
}
.credit-card-label{
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 24px;
  margin-left: 4px;
  margin-top: 0px;
  text-indent: -10000px;
  cursor: pointer;
}
#visa-label{
  background: -webkit-image-set(url("./images/cc-icon-visa.png") 1x, url("./images/cc-icon-visa@2x.png") 2x);
}
#mastercard-label{
  background: -webkit-image-set(url("./images/cc-icon-mastercard.png") 1x, url("./images/cc-icon-mastercard@2x.png") 2x);
}
#discover-label{
  background: -webkit-image-set(url("./images/cc-icon-discover.png") 1x, url("./images/cc-icon-discover@2x.png") 2x);
}
#amex-label{
  background: -webkit-image-set(url("./images/cc-icon-amex.png") 1x, url("./images/cc-icon-amex@2x.png") 2x);
}
#security-code-input{
  width: 130px;
}
.right-side{
  margin-left: 20px;
}
select{
  width: 160px;
  margin-right: 10px;
  height: 40px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  vertical-align: bottom;
  box-shadow: rgba(100, 110, 114, 0.33) 0 2px 3px;
  border-radius: 3px!important;
  border:1px solid #4C8DD0;
  background-color: #FFFFFF;
}
#expiration-year-input{
  width: 80px;
  box-shadow: rgba(100, 110, 114, 0.33) 0 2px 3px;
}
.left-side,.right-side{
  display: inline-block;
}
#sign-up-btn{
  height: 50px;
  width: 440px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #4F8ECE;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  border: none;
}
#error-container{
  margin-top: 5px;
}
.error{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #D3000D;
  margin-left: 10px;
}
#warning-img-container{
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #D3000D;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}
.warning-img{
  display: block;
  margin: 0 auto;
}
.hidden{
  display: none;
}
/*in mozilla domain name's bottom padding is off by 1 px*/
@-moz-document url-prefix(){
  .domain-name {
    padding-bottom: 9px;
    padding-top: 9px;
  }
  #visa-label{
    background: url("./images/cc-icon-visa.png");
  }
  #mastercard-label{
    background: url("./images/cc-icon-mastercard.png");
  }
  #discover-label{
    background: url("./images/cc-icon-discover.png");
  }
  #amex-label{
    background: url("./images/cc-icon-amex.png");
  }
}
