.container{
  width: 540px;
  background-color: #ABCCD5;
  overflow:auto;
  margin: auto;
}
.form-container{
  width: 500px;
  margin:20px;
  background-color: white;
}
header{
  width: 460px;
  margin: auto;
  margin-bottom: 40px;
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ABCCD5;
}
h1{
  font-family: "Open Sans", sans-serif;
  font-weight:600;
  font-size:36px;
  color: #4C8DD0;
  margin-bottom: 0px;
  margin-left: 10px;
}
.heading-text, label, #domain-name{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646E72;
}
label{
  margin-top: 20px;
}
.heading-text{
  margin-top: 0px;
  margin-left: 10px;
}
h2{
  display: inline-block;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #4C8DD0;
}
.subtitle-number{
  position:relative;
  left: -15px;
  top: -4px;
  display: inline-block;
  background-color: white;
  font-family: Georgia, serif;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  color: #4C8DD0;
  height:30px;
  width:30px;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
fieldset{
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-bottom: 25px;
  padding-bottom: 30px;
  border-radius: 3px;
  background-color: #F2F3F4;
  border: none;
}
input[type="text"], input[type="email"],
input[type="password"], input[type="number"], select{
  height: 36px;
  width: 400px;
  border-radius: 3px;
  border:1px solid #4C8DD0;
  background-color: #FFFFFF;
  box-shadow: inset rgba(100, 110, 114, 0.33) 0 2px 3px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646E72;
}
#website-input{
  width: 234px;
  border:1px solid #4C8DD0;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.domain-name{
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 160px;
  background-color: #E8EAEB;
  border:1px solid #4C8DD0;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  color: #646E72;
}
/*in mozilla domain name's bottom padding is off by 1 px*/
@-moz-document url-prefix(){
  .domain-name {
    padding-bottom: 9px;
    padding-top: 9px;
  }
}
.name-container, .email-container, .credit-card-container{
  margin-bottom: 30px;
}
#reveal-checkbox{
  display: none;
}
#reveal-checkbox + label span{
  margin-top: 10px;
  margin-right: 5px;
  display:inline-block;
  width:19px;
  height:19px;
  background: #4C8DD0;
  cursor: pointer;
  border-radius: 3px;
}
#reveal-checkbox:checked + label{
  background: url('./images/check-icon.png') 7px -4px no-repeat;
}
#reveal-checkbox:checked + label span{
  background:#4C8DD0 url('./images/check-icon.png') 4px 2px no-repeat;
}
.checkbox-label{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #646E72;
  padding-top: 4px;
}
#credit-card-input{
  width: 212px;
  margin-right: 6px;
}
.credit-card-img{
  vertical-align: middle;
  width: 40px;
  height: 24px;
  margin-left: 4px;
}
#security-code-input{
  width: 126px;
}
.right-side{
  margin-left: 20px;
}
select{
  width: 160px;
  margin-right: 10px;
  height: 40px;
}
#expiration-year-input{
  width: 76px;
}
.left-side,.right-side{
  display: inline-block;
}
#sign-up-btn{
  height: 50px;
  width: 440px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  background-color: #4F8ECE;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
#error-container{
  margin-top: 5px;
}
.error{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #D3000D;
  margin-left: 10px;
}
#warning-img-container{
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #D3000D;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}
.warning-img{
  display: block;
  margin: 0 auto;
}
